.about-company__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px 50px;
    margin: 0 0 50px 0;
}

.about-company__img {
    border-radius: 30px;
    overflow: hidden;
    grid-row: 2 / 3;
}

.about-company__description {
    display: grid;
    gap: 20px;
    grid-row: span 2;
}

.about-company__desctiption-text {
    font-size: 24px;
    line-height: 32px;
    color: #475009;
    margin: 0;
}