.header {
    border-top: 15px solid #52A345;
    padding: 15px 30px;
}

.header__top {
    display: grid;
    grid-template-columns: 1fr 386px 1fr;
    gap: 20px;
    margin: 0 0 40px 0;
    padding: 30px;
}

.header__contatcs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.header__phone {
    display: flex;
    align-items: center;
    border: 1px solid #475009;
    border-radius: 60px;
    padding: 6px 12px;
}

.header__phone-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #475009;
}

.header__callback {
    font-family: "Montserrat", "Arial", sans-serif;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #475009;
    letter-spacing: 0.06em;
    padding: 0;
    margin: 0;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
}

.header__user-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__user-link {
    display: flex;
    align-items: center;
}

.header__user-text {
    margin: 0 0 0 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: #475009;
    text-transform: uppercase;
}

.header__user-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52A345;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
}

.header__burger {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
}