.hero {
    display: flex;
    align-items: center;
    padding: 105px;
    min-height: calc(100vh - 187px);
    background-color: rgba(222, 236, 221, 0.8);
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 640px;
    gap: 55px;
}

.hero__text {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #475009;
    margin: 0 0 40px 0;
}

.hero__slogan {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 50px 0;
    color: #475009;
}

.hero__gallery-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 305px 300px;
    gap: 50px 50px;
}

.hero__gallery-item--size-xl {
    grid-row: span 2;
}